<div class="container mt-5">
  <div class="row" *ngIf="products">
    <div class="col-6 mb-3" *ngFor="let product of products; let i = index" >
      <div class="card h-100">
        <div class="card-body">
          <h1 class="card-title">{{product.name}}</h1>
          <h4>{{product.price | currency: 'EUR'}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h5>Inserisci dati e premi invia per confermare l'ordine</h5>
  <div class="row">
      <div class="col">
        <form #form="ngForm" (ngSubmit)="submit(form)">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" required name="nome" ngModel class="form-control" type="text" #nome="ngModel">
            <div *ngIf="nome.invalid && nome.touched" class="alert alert-danger mt-1" role="alert">
              Campo obbligatorio
            </div>
          </div>

          <div class="form-group">
            <label for="indirizzo">Indirizzo</label>
            <input id="indirizzo" required name="indirizzo" ngModel class="form-control" type="text" #indirizzo="ngModel">
            <div *ngIf="indirizzo.invalid && indirizzo.touched" class="alert alert-danger mt-1" role="alert">
              Campo obbligatorio
            </div>
          </div>
          <div class="col d-grid gap-2">
            <button onclick="window.location.reload();" type="submit" [disabled]="form.invalid" class="btn btn-primary mt-4">Crea</button>
          </div>
          </form>
      </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col d-grid gap-2">
    <button onclick="window.location.reload();" type="submit"  class="btn btn-primary mt-4" (click)="svuota()"> Invia Ordine </button>
  </div>
</div> -->
